!.gitignore
.DS_Store
*.swp
.build
_build
blib
Build
LICENSE
Makefile.PL
META.*
MYMETA.*
Catmandu-Factory-*
local
.perl-version
cpanfile.snapshot
demo.pl
*.sqlite
*.csv
*.sh
*.fix
*.xml
conf/settings.ini
*.tar.gz
Datahub-Factory-*
debian
*.log
conf/pipelines.d/*.ini
test.json
test.pl
docs/_site
docs/Gemfile.lock
